<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>НЦ Большая цифра</title>
    <link rel="icon" type="image/x-icon" href="{{ "images/logo/ncbc.ico" | relURL }}">
    <link rel="stylesheet" href="{{ "css/baseof.css" | relURL }}">
    {{ block "head-links" . }}{{ end }}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="logo">
          <a href="https://nc-bc.ru">
            <img src="{{ "images/logo/logo-full-white.png" | relURL }}" alt="Логотип сайта">
          </a>
        </div>
      </header>      

      <main class="container">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </body>
</html>
