<aside class="news-sidebar">
    {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "news") }}
        <div class="news-item">
            <a href="{{ .Permalink }}" class="news-link">
                {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                {{ end }}
                <div class="news-title">{{ .Title }}</div>
                {{ if not .Params.image }}
                    <div class="news-text">{{ .Summary }}</div>
                {{ end }}
                <p class="data">{{ .Date | dateFormat "02.01.2006 15:04" }}</p>
            </a>
        </div>
    {{ end }}
</aside>
